[run]
branch = True
include = mod_amity/*
omit =
    */tests/*
    test_*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
        # Have to re-enable the standard pragma
        pragma: no cover

        if 0:
        if __name__ == .__main__.:
        if __name__==.__main__.:



ignore_errors = True
