# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

bucketlist.sqlite
db_repository/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

.env

# Flask stuff:
instance/
.webassets-cache
